Example structure for the planned rewrite config files

{
	'user': {
		'psn_id': 'PSN ID',
		'gts_id_num': 1234567890,
		'gt7_uuid': 'ffffffff-ffff-ffff-ffff-ffffffffffff',
		'default_config': '-g GT7 -f -i 120'
	},
	'user': {
		...
	}
}
